body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h6, h4{
  font-family: 'Work Sans', sans-serif;
  color: #e5ebe6ec;

}

.bienvenida-index {
  font-family: 'Spicy Rice', cursive;
  color: #2ec04e;
  border: white;

}
